//----------- GLOBAL --------------------------

//-----------background image-----------------
.t-PageBody--login .t-Body,
.t-Body-main {
    background-image: url("https://mk8snm8youhshyh-db201910011626.adb.eu-frankfurt-1.oraclecloudapps.com/ords/r/main/101/files/static/v126/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

//----------  modal forms headers -------------

.no-close-button .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog .ui-dialog-title {
  text-align: center;
}

//small devices
@media (max-width: 640px) {
  .t-Header-logo,
  .t-NavigationBar .icon-only {
    display: none;
  }
  .t-Button--navBar .t-Button-badge {
    position: static;
  }
  .hw-block-test-panel .t-Alert-wrap {
    display: none;
  }
  .home-work-check-box .t-Form-itemWrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-work-user-roles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .t-Button--mobileHideLabel .t-Icon {
    margin-right: 0!important;
    margin-left: 0!important;
  }
  .t-Button--mobileHideLabel .t-Button-label {
    display: none;
  }
  #home-work-region-totals .t-Region-body {
    padding-left: 18% !important;   
  }
}

//Page headers (not modals)
.t-Body-title {
    .t-Alert--horizontal,
    .t-Alert--wizard  {
       background-color: transparent;
       color: #ffff;
     }
     .t-Alert--success.t-Alert--horizontal .t-Alert-icon {
          background-color: rgba(59, 170, 44, .5);
      }
}

.a-IRR-tableContainer .js-stickyTableHeader.is-stuck {
   top: 48px !important;
}

.t-Body-title,
.t-Footer {
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transition: top 1.5s;
    -o-transition: top 1.5s;
    transition: top 1.5s;
}

.t-Footer-version {
    color: #ffff;
}

//---------- NAVIGATION BAR STYLES OVERRIDE --------
.t-Header-branding {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
    .t-Header-logo-link {
         span {
            font-family: Segoe Print;
            font-weight: Bold;
         }
    }
    .t-NavigationBar {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
           -ms-flex-align: center;
              align-items: center;
    }
}

.has-username {
  .t-Button-badge {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

//---------- LOGIN AND REGISTRATION FORMS --------

.t-PageBody--login .t-Body {
  .home-work-registration-link {
    cursor: pointer;
  }
}

.registration-form-center-display .t-Form-itemWrapper,
.remember-registration-center,
.registration-form-center {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
	   -webkit-box-pack: center;
	       -ms-flex-pack: center;
	           justify-content: center;
}

.radiobox-registration-form-center {
    text-align: center;
}

.remember-registration-center .a-Icon {
	    vertical-align: middle;
	    vertical-align: -webkit-baseline-middle;
}

.remember-registration-center .t-Form--stretchInputs .t-Form-fieldContainer .apex-item-group,
.remember-registration-center .t-Form-fieldContainer--stretchInputs .apex-item-group,
.home-work-check-box .apex-item-checkbox {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
}

//---------- HOME-WORK WIZARD STYLES -------------

//container
.home-work-test-container-global {
   h2 {
     text-align:center;
     font-weight: bold;
     font-family: Times New Roman;
   }
 .home-work-test-description {
	   text-align:center;
   }
}

// type of test: sequence
.homework-container-sequence-blocks {
  display: block;
}
.homework-container-sequence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  padding: 2rem;
  .homework-sequence-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    list-style-type: none;
    .homework-sequence-list-item {
      background-color: #85ebf7;
      -webkit-box-shadow: 0px 1px #579da5;
              box-shadow: 0px 1px #579da5;
      border-radius: 3px;
      padding: 10px;
      margin: 5px;
      text-align: center;
      font-weight: bold;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      cursor: -webkit-grab;
      cursor: grab;
      min-width: 4rem;
      font-family: Arial;
      font-size: 14pt;
      &:hover {
        -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.22);
                box-shadow: 0 3px 1px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.22);
      }
    }
  }
}

//type of test global
.dropdown-content-level {
  display: inline-block;
  min-height: 2.5rem;
  max-width: 9em;
  margin: 3px;
  border: 1px solid rgb(169, 169, 169);
  border-radius: 5px;
  outline: 0;
}

.insertion-test-input {
  min-width: 5rem;
  min-height: 2.5rem;
  border: 1px solid rgb(169, 169, 169);
  border-radius: 5px;
  outline: 0;
  padding: 0 3px;
  margin: 3px;
}

// type of test: list
.homework-container-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          .homework-choice-list-compact {
               display: -webkit-box;
               display: -ms-flexbox;
               display: flex;
               -webkit-box-orient: horizontal;
               -webkit-box-direction: normal;
                   -ms-flex-flow: row wrap;
                       flex-flow: row wrap;
               -webkit-box-align: baseline;
                   -ms-flex-align: baseline;
                       align-items: baseline;
               -ms-flex-pack: distribute;
                   justify-content: space-around;
               list-style: none;
               li {
                 padding: 2.5rem;
                 font-family: Times New Roman;
                 font-size: 16pt;
                 color: rgb(68, 68, 68);
                 text-decoration: none;
               }
          }
  .homework-choice-list-item {
    padding: 10px;
    font-family: Times New Roman;
    font-size: 16pt;
    color: rgb(68, 68, 68);
    text-decoration: none;
  }
}

// type of test: block
.homework-container-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  font-family: Times New Roman;
  font-size: 16pt;
  color: rgb(68, 68, 68);
  text-decoration: none;
  line-height: 1.5;
  p {
    line-height: 1.5;
  }
}
